@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}
.section {
  padding: 50px 135px;
  margin: 0 auto;
}
/* ......................
header section starts here  
.........................*/
/* ......................
nav section starts here  
.........................*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 44px;
}
.menu ul li {
  list-style: none;
}
.menu ul li a {
  text-decoration: none;
  color: var(--Dark-02, #424247);
}
.menu ul li {
  text-align: center;
  font-size: 18px;
}
.menu ul li a:hover {
  color: #ff5400;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  color: #131318;
  font-size: 36px;
  font-weight: 800;
}
.logo h1 span {
  color: #ff5400;
}
.active {
  color: #ff5400 !important;
  font-weight: 700;
}
/* ......................
nav section ends here  
.........................*/
/* ......................
banner section starts here
.........................*/
.banner {
  border-radius: 16px;
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../Images/banner-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 50px;
}
.banner-content {
  text-align: center;
}
.banner-title {
  color: #fff;
  font-family: Mulish;
  font-size: 64px;
  font-weight: 800;
  padding: 24px 0px;
}
.banner-box {
  margin-top: 48px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  display: inline-flex;
  gap: 24px;
  padding: 20px;
}

.When,
.Where-go,
.Type {
  border-radius: 8px;
  background: #fff;
  border: none;
  padding: 14px 20px;
}
.banner-text {
  color: #fff;
  font-size: 16px;
  line-height: 26px; /* 162.5% */
}
.primary-btn {
  border-radius: 8px;
  background: #ff5400;
  padding: 14px 20px;
  border: none;
  text-align: center;
  text-decoration: none;
  color: #fff;
}
/* ......................
banner section ends here
.........................*/

/* ......................
header section ends here
.........................*/
/* ......................
main section starts here 
........................*/

/* ......................
popular tours section starts here
........................*/

.popular-tours {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
}
.tour-image {
  width: 100%;
}

.popular-tours-text,
.popular-tours-description {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  line-height: 26px; /* 162.5% */
  margin: 24px 0px;
}
.popular-tours-title {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
}
.popular-tours-content {
  max-width: 577px;
}
.popular-tours-list {
  margin-left: 20px;
  color: rgba(19, 19, 24, 0.7);

  line-height: 26px; /* 162.5% */
}
.tour-btn {
  margin-top: 45px;
}
/* ....................................
choose destination section starts here
...................................... */
.choose-destination {
  margin-top: 50px;
  text-align: center;
}
.destination-title {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
}
.destination-text {
  padding: 24px 0px;
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  line-height: 26px; /* 162.5% */
}
.image-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}
.image-container img {
  width: 100%;
  height: 100%;
  border-radius: 16px;
}
.grid-image {
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    lightgray 50% / cover no-repeat;
}
.grid-image-1 {
  grid-column: 1 / span 6;
  grid-row: 1 / span 1;
  border-radius: 16px;
}
.grid-image-2 {
  grid-column: 7 / span 6;
  grid-row: 1 / span 1;
  border-radius: 16px;
}
.grid-image-3 {
  grid-column: 1 / span 3;
  grid-row: 2 / span 1;
}
.grid-image-4 {
  grid-column: 4 / span 6;
  grid-row: 2 / span 1;
}
.grid-image-5 {
  grid-column: 10 / span 3;
  grid-row: 2 / span 1;
}
.grid-image-6 {
  grid-column: 1 / span 4;
  grid-row: 3 / span 1;
}
.grid-image-7 {
  grid-column: 5 / span 8;
  grid-row: 3 / span 1;
}

.grid-text {
  position: relative;
  top: -190px;
  left: 0px;
  color: #fff;
  text-align: center;
  font-size: 28px;
  font-weight: 800;
}
/* ....................................
choose destination section ends here
...................................... */

/* ....................................
why choose us section starts here 
...................................*/
.why-choose-us {
  text-align: center;
}
.why-choose-us-title {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
  padding: 24px 0px;
}
.why-choose-us-text {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  line-height: 26px; /* 162.5% */
}

.why-choose-us-content {
  text-align: left;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 24px;
}
.choose-us-item-1 {
  grid-column: 1 / span 6;
  grid-row: 1 / span 1;
  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
  padding: 32px;
}
.choose-us-item-2 {
  grid-column: 7 / span 6;
  grid-row: 1 / span 1;
  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
  padding: 32px;
}
.choose-us-item-3 {
  grid-column: 4 / span 6;
  grid-row: 2 / span 1;
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
  padding: 32px;
}
.why-choose-us-text {
  padding: 24px 0px 48px 0px;
  max-width: 553px;
  margin: 0 auto;
}
.choose-us-item-title {
  padding: 32px 0px 16px 0px;
}
/* ...........................
why choose us section ends here 
..............................*/

/* .................................
deals and discount section starts here 
.................................. */
.deals-and-discount {
  text-align: center;
}
.deals-and-discount-title {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
}
.deals-and-discount-text {
  padding: 24px 0px;
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  line-height: 26px; /* 162.5% */
}
.features {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.features i {
  color: #ff5400;
}
.deals-title {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
  padding: 26px 0px 16px 0px;
}
.deals-text {
  color: #5a5a5d;
  font-size: 16px;
  line-height: 26px; /* 162.5% */
}
.price {
  padding: 16px 0px 24px 0px;
}

.flexbox-1{
  position: relative;
}
.image-div1 {
  text-align: left;
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
  max-width: 579px;
  padding: 56px 56px 56px 56px;
  position: absolute;
  top: 18%;
  left: 45%;
}
.book-btn {
  margin-top: 24px;
}
.flex-box2{
    position: relative;
    margin: 24px 0px;
}
.image-div2 {
  text-align: left;
  border-radius: 16px;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
  max-width: 579px;
  position: absolute;
  top:18% ;
  left:30% ;
  padding: 56px 56px 56px 56px;
  z-index: 2;
}
.flex-bg{
    max-width: 100%;
    min-height: 500px;
}
.package-btn {
  margin-top: 48px;
}
/* ......................
main section ends here
.........................*/

@media screen and (max-width: 1460px) and (min-width: 1200px) {
  .banner-box {
    padding: 10px;
  }
  .image-div2 {
    
    top:18% ;
    left:12% ;
  }
}

@media screen and (max-width: 1200px) and (min-width: 992px) {
  .section {
    padding: 50px 25px;
  }
  .popular-tours {
    margin-top: 30px;
    gap: 30px;
  }
  .popular-tour-image {
    width: 70%;
    height: 70%;
    border-radius: 16px;
  }
  .popular-tours-text,
  .popular-tours-description {
    color: rgba(19, 19, 24, 0.7);
    font-size: 12px;
    line-height: 19px; /* 162.5% */
    margin: 19px 0px;
  }
  .popular-tours-title {
    color: #131318;
    font-size: 36px;
  }
  .popular-tours-list {
    margin-left: 15px;
    font-size: 12px;
    line-height: 24.3px; /* 162.5% */
  }
  .tour-btn {
    margin-top: 35px;
  }
  
  .image-div1{
    top: 18%;
    left: 36%;
  }
  .image-div2 {
    top: 18%;
    left: 7%;
  }
}
@media screen and (max-width: 991px) and (min-width: 768px) {
  .section {
    padding: 50px 25px;
  }
  .menu ul {
    gap: 24px;
  }
  .logo {
    font-size: 24px;
  }
  .banner-title {
    font-size: 56px;
  }
  .banner-box {
    flex-direction: column;
    width: 90%;
  }
  .When,
  .Where-go,
  .Type {
    border-radius: 8px;
    background: #fff;
    border: none;
    width: 100%;
  }
  .popular-tours {
    margin-top: 26px;
    gap: 18px;
  }
  .popular-tours-text,
  .popular-tours-description {
    color: rgba(19, 19, 24, 0.7);
    font-size: 12px;
    line-height: 19px; /* 162.5% */
    margin: 19px 0px;
  }
  .popular-tours-title {
    color: #131318;
    font-size: 30px;
  }
  .popular-tours-list {
    margin-left: 12px;
    font-size: 10px;
    line-height: 16.5px; /* 162.5% */
  }
  .tour-btn {
    margin-top: 30px;
  }
  .tour-image {
    width: 100%;
  }
  .image-div1{
    top: 14%;
    left: 10%;
    padding: 36px;
  }
  .image-div2 {
    top: 14%;
    left: 10%;
    padding: 36px;
  }
}
@media screen and (max-width: 767px) and (min-width: 576px) {
  .section {
    padding: 50px 25px;
  }
  .menu ul {
    gap: 18px;
  }
  .logo {
    font-size: 20px;
  }
  .banner-box {
    flex-direction: column;
  }
  .banner-title {
    font-size: 48px;
  }
  .popular-tours {
    margin-top: 20px;
    flex-direction: column;
    gap: 25px;
  }
  .popular-tour-image {
    width: 90%;
    height: 90%;
    border-radius: 16px;
  }

  .popular-tours-text,
  .popular-tours-description {
    color: rgba(19, 19, 24, 0.7);
    font-size: 16px;
    line-height: 26px; /* 162.5% */
    margin: 24px 0px;
  }
  .popular-tours-title {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
  }
  .popular-tours-list {
    margin-left: 20px;
    color: rgba(19, 19, 24, 0.7);

    line-height: 26px; /* 162.5% */
  }
  .tour-btn {
    margin-top: 45px;
  }
  .image-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 10px;
  }
  .grid-image-1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    border-radius: 16px;
  }
  .grid-image-2 {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    border-radius: 16px;
  }
  .grid-image-3 {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
  }
  .grid-image-4 {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
  }
  .grid-image-5 {
    grid-column: 1 / span 1;
    grid-row: 5 / span 1;
  }
  .grid-image-6 {
    grid-column: 1 / span 1;
    grid-row: 6 / span 1;
  }
  .grid-image-7 {
    grid-column: 1 / span 1;
    grid-row: 7 / span 1;
  }
  .image-div1{
    top: 14%;
    left: 1.8%;
    padding: 28px;
  }
  .image-div2 {
    top: 14%;
    left: 1.8%;
    padding: 20px;
  }
}
@media screen and (max-width: 575px) and (min-width: 320px) {
  .section {
    padding: 30px 18px;
  }
  nav {
    flex-direction: column;
    gap: 20px;
  }
  .logo {
    font-size: 18px;
  }
  .menu ul {
    flex-direction: column;
    gap: 18px;
  }
  .menu ul {
    flex-direction: column;
    gap: 18px;
  }
  .banner-box {
    flex-direction: column;
  }
  .banner-title {
    font-size: 36px;
  }
  .popular-tours {
    margin-top: 20px;
    flex-direction: column;
    gap: 25px;
  }
  .tour-image {
    margin-top: 20px;
    width: 90%;
    margin: 0 auto;
  }
  .image-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(7, 1fr);
    gap: 10px;
  }
  .destination-title {
    color: #131318;
    font-size: 20px;
    font-weight: 800;
  }
  .destination-text {
    padding: 24px 0px;
    color: rgba(19, 19, 24, 0.7);
    font-size: 14px;
    line-height: 22.75px; /* 162.5% */
  }

  .grid-image-1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    border-radius: 16px;
  }
  .grid-image-2 {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    border-radius: 16px;
  }
  .grid-image-3 {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
  }
  .grid-image-4 {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
  }
  .grid-image-5 {
    grid-column: 1 / span 1;
    grid-row: 5 / span 1;
  }
  .grid-image-6 {
    grid-column: 1 / span 1;
    grid-row: 6 / span 1;
  }
  .grid-image-7 {
    grid-column: 1 / span 1;
    grid-row: 7 / span 1;
  }

  .why-choose-us-content {
    text-align: left;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 24px;
  }
  .choose-us-item-1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }
  .choose-us-item-2 {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }
  .choose-us-item-3 {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
  }
  .image-div1{
    top: 14%;
    left: 0%;
    padding: 18px;
  }
  .image-div2 {
    top: 14%;
    left: 0%;
    padding: 18px;
  }
}
