@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}
.section {
  padding: 50px 135px;
  margin: 0 auto;
}
/* ......................
header section starts here  
.........................*/
/* ......................
nav section starts here  
.........................*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 44px;
}
.menu ul li {
  list-style: none;
}
.menu ul li a {
  text-decoration: none;
}
.menu ul li {
  color: var(--Dark-02, #424247);
  text-align: center;
  font-size: 18px;
}
.menu ul li a:hover {
  color: #ff5400;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  color: #131318;
  font-size: 36px;
  font-weight: 800;
}
.logo h1 span {
  color: #ff5400;
}
.active {
  color: #ff5400;
  font-weight: 700;
}
/* ......................
nav section ends here  
.........................*/
/* ......................
banner section starts here
.........................*/
.banner {
  border-radius: 16px;
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../Images/banner-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 50px;
}
.banner-content {
  text-align: center;
}
.banner-title {
  color: #fff;
  font-family: Mulish;
  font-size: 64px;
  font-weight: 800;
  padding: 24px 0px;
}
.banner-box {
  margin-top: 48px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  display: inline-flex;
  gap: 24px;
  padding: 20px;
}

.When,
.Where-go,
.Type {
  border-radius: 8px;
  background: #fff;
  border: none;
  padding: 14px 20px;
}
.banner-text {
  color: #fff;
  font-size: 16px;
  line-height: 26px; /* 162.5% */
}
.primary-btn {
  border-radius: 8px;
  background: #ff5400;
  padding: 14px 20px;
  border: none;
  text-align: center;
  text-decoration: none;
  color: #fff;
}
/* ......................
banner section ends here
.........................*/

/* ......................
header section ends here
.........................*/
/* ......................
main section starts here 
........................*/

/* ......................
popular tours section starts here
........................*/

.popular-tours {
  
  margin-top: 50px;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  gap: 30px;
 
}
.tour-image{
    width: 100%;
    
}

.popular-tours-text,
.popular-tours-description {
  color: rgba(19, 19, 24, 0.7);
  font-size: 16px;
  line-height: 26px; /* 162.5% */
  margin: 24px 0px;
}
.popular-tours-title {
  color: #131318;
  font-size: 40px;
  font-weight: 800;
}
.popular-tours-content{
    max-width: 577px;
}
.popular-tours-list {
  margin-left: 20px;
  color: rgba(19, 19, 24, 0.7);

  line-height: 26px; /* 162.5% */
}
.tour-btn {
  margin-top: 45px;
}
@media screen and (max-width: 1460px) and (min-width: 1200px) {
  .banner-box {
    padding: 10px;
  }
}
@media screen and (max-width: 1200px) and (min-width: 992px) {
  .section {
    padding: 50px 25px;
  }
  .popular-tours {
    margin-top: 30px;
    gap: 30px;
  }
  .popular-tour-image {
    width: 70%;
    height: 70%;
    border-radius: 16px;
  }
  .popular-tours-text,
.popular-tours-description {
  color: rgba(19, 19, 24, 0.7);
  font-size: 12px;
  line-height: 19px; /* 162.5% */
  margin: 19px 0px;
}
.popular-tours-title {
  color: #131318;
  font-size: 36px;

}
.popular-tours-list {
  margin-left: 15px;
 font-size: 12px;
  line-height: 24.3px; /* 162.5% */
}
.tour-btn {
    margin-top: 35px;
  }
}
@media screen and (max-width: 991px) and (min-width: 768px) {
  .section {
    padding: 50px 25px;
  }
  .menu ul {
    gap: 24px;
  }
  .logo {
    font-size: 24px;
  }
  .banner-title {
    font-size: 56px;
  }
  .banner-box {
    flex-direction: column;
    width: 90%;
  }
  .When,
  .Where-go,
  .Type {
    border-radius: 8px;
    background: #fff;
    border: none;
    width: 100%;
  }
  .popular-tours {
    
    margin-top: 26px;
    gap: 18px;
    
  }
  .popular-tours-text,
.popular-tours-description {
  color: rgba(19, 19, 24, 0.7);
  font-size: 12px;
  line-height: 19px; /* 162.5% */
  margin: 19px 0px;
}
.popular-tours-title {
  color: #131318;
  font-size: 30px;

}
.popular-tours-list {
  margin-left: 12px;
 font-size: 10px;
  line-height: 16.5px; /* 162.5% */
}
.tour-btn {
    margin-top: 30px;
  }
  .tour-image{
    width: 100%;
  }
}
@media screen and (max-width: 767px) and (min-width: 576px) {
  .section {
    padding: 50px 25px;
  }
  .menu ul {
    gap: 18px;
  }
  .logo {
    font-size: 20px;
  }
  .banner-box {
    flex-direction: column;
  }
  .banner-title {
    font-size: 48px;
  }
  .popular-tours {
    margin-top: 20px;
   flex-direction: column;
    gap: 25px;
  }
  .popular-tour-image {
    width: 90%;
    height: 90%;
    border-radius: 16px;
  }
  
  .popular-tours-text,
  .popular-tours-description {
    color: rgba(19, 19, 24, 0.7);
    font-size: 16px;
    line-height: 26px; /* 162.5% */
    margin: 24px 0px;
  }
  .popular-tours-title {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
  }
  .popular-tours-list {
    margin-left: 20px;
    color: rgba(19, 19, 24, 0.7);
  
    line-height: 26px; /* 162.5% */
  }
  .tour-btn {
    margin-top: 45px;
  }
}
@media screen and (max-width: 575px) and (min-width: 320px) {
  .section {
    padding: 30px 18px;
  }
  nav {
    flex-direction: column;
    gap: 20px;
  }
  .logo {
    font-size: 18px;
  }
  .menu ul {
    flex-direction: column;
    gap: 18px;
  }
  .menu ul {
    flex-direction: column;
    gap: 18px;
  }
  .banner-box {
    flex-direction: column;
  }
  .banner-title {
    font-size: 36px;
  }
  .popular-tours {
    margin-top: 20px;
   flex-direction: column;
    gap: 25px;
  }
  .tour-image{
    margin-top: 20px;
    width: 90%;
  }
}
